<div class="row">
  <div class="col-md-12">
    <div class="jumbotron text-center">
      <h3>{{ prodotto.nome }}</h3>
      <hr />
      <p>Quantità disponibili: {{ prodotto.quantitativo }}</p>
      <p>Prezzo: {{prodotto.prezzo}}€</p>
    </div>
  </div>
</div>
<div
  class="row"
  *ngIf="isLogged"
>
  <div class="col-md-12">
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <a
          routerLink="edit"
          [queryParams]="{ type: 'edit' }"
          class="btn btn-info"
        >Modifica prodotto</a>
      </div>
      <div class="btn-group">
        <button
          (click)="onRemoveProdotto()"
          class="btn btn-danger"
        >
          Elimina prodotto
        </button>
      </div>
    </div>
  </div>
</div>