<div class="row">
  <div class="col-md-12">
    <div
      class="form-group"
      [ngClass]="{ 'has-error': nomeNegozio.trim().length === 0 }"
    >
      <label for="nomeNegozio">Nome negozio</label>
      <input
        type="text"
        id="nomeNegozio"
        class="form-control"
        [(ngModel)]="nomeNegozio"
      />
    </div>
    <div
      class="form-group"
      [ngClass]="{ 'has-error': pivaNegozio.trim().length === 0 }"
    >
      <label for="pivaNegozio">Partita IVA negozio</label>
      <input
        id="pivaNegozio"
        class="form-control"
        [ngStyle]="{ resize: 'vertical' }"
        [(ngModel)]="pivaNegozio"
      />
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">
      {{ buttonText }} negozio
    </button>
  </div>
</div>
